{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}


<div class="hero">
    <div class="hero-text">
        <span class="availability-badge">● Available for freelance & remote roles</span>
        <h1>Hi, I'm <span class="accent">Favour Thomas Ogechi</span></h1>
         <span class="role-tag">Data Analyst</span>
    <span class="role-tag">Data Visualization</span>
    <span class="role-tag">Python & SQL</span>
    <span class="role-tag">Aspiring Backend Developer</span>
       <p>I am a Data Analyst with hands-on experience in customer-facing roles across the banking
        and utilities sectors, currently expanding my expertise into backend development with Python
        and Django. This portfolio showcases my technical skills, projects, and insights as I continue
        to grow as a data and software professional</p>
        <a href="{% url 'contact' %}"><button>Contact Me</button></a>
    </div>
    <div class="hero-photo">
        <img src="{% static 'images/profile.jpg' %}" alt="My profile photo" class="profile-pic">
    </div>
</div>
{% endblock %}


